h4 {
  font-family: Montserrat, "Helvetica Neue";
  font-weight: 700; }

body {
  overflow-x: hidden;
  font-family: "Roboto Slab"; }

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 10px 0; }
  .navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-default .navbar-header a {
    color: #fed136;
    font-family: "kaushan Script", Helvetica, cursive;
    font-weight: 400;
    font-size: 28px; }
  .navbar-default .navbar-collapse ul li a {
    color: #fff;
    font-weight: 400;
    font-family: Montserrat, "Helvetica Neue";
    letter-spacing: 1px; }
  .navbar-default .navbar-collapse ul li a:hover {
    color: #fed136; }

.navbar-shrink {
  background-color: #222;
  padding: 10px 0; }

header {
  background-image: url(../../img/header-bg.jpg);
  background-repeat: none;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100%; }
  header .welcome {
    padding: 25% 10% 19% 10%;
    color: #fff; }
    header .welcome .welcome1 {
      font-size: 40px;
      font-family: "Droid Serif", "Helvetica Neue";
      font-style: italic; }
    header .welcome .grande {
      font-size: 75px;
      font-family: Montserrat, "Helvetica Neue";
      font-weight: 700; }

.boton {
  background-color: #fed136;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue";
  font-weight: 700;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px; }

.boton:hover {
  color: #777; }

#services .container {
  padding: 10% 0; }
  #services .container h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Montserrat, "Helvetica Neue";
    font-weight: 700; }
  #services .container .italica {
    font-size: 16px;
    color: #777;
    font-family: "Droid Serif", "Helvetica Neue";
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
    font-style: italic;
    font-weight: 400; }
  #services .container .col-md-4 .fa-circle {
    color: #fed136; }
  #services .container .col-md-4 .fa-stack-1x {
    color: #fff; }
  #services .container .col-md-4 .fa-stack-1x:hover {
    color: #777; }
  #services .container .col-md-4 p {
    color: #777; }

#portfolio {
  background-color: #F7F7F7; }
  #portfolio .container {
    padding: 10% 0; }
    #portfolio .container h2 {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-family: Montserrat, "Helvetica Neue";
      font-weight: 700; }
    #portfolio .container .italica {
      font-size: 16px;
      color: #777;
      font-family: "Droid Serif", "Helvetica Neue";
      font-weight: 400;
      margin-bottom: 75px;
      text-transform: none;
      font-style: italic;
      font-weight: 400; }
    #portfolio .container .italica1 {
      font-size: 16px;
      color: #777;
      font-family: "Droid Serif", "Helvetica Neue";
      font-weight: 400;
      margin-bottom: 75px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 0px; }
    #portfolio .container .row .col-md-4 {
      padding: 15px; }
      #portfolio .container .row .col-md-4 img {
        width: 100%; }
      #portfolio .container .row .col-md-4 .caja {
        background-color: #fff;
        margin-top: 0;
        padding: 10px 0; }

#about .container {
  padding: 10% 0; }
  #about .container h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Montserrat, "Helvetica Neue";
    font-weight: 700; }
  #about .container .italica {
    font-size: 16px;
    color: #777;
    font-family: "Droid Serif", "Helvetica Neue";
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
    font-style: italic;
    font-weight: 400; }
  #about .container .linea {
    height: 1100px;
    width: 1px;
    border: 1px solid #f7f7f7;
    position: absolute;
    left: 50%; }
  #about .container .row {
    margin: 80px 0 0 0; }
    #about .container .row img {
      border: 7px solid #f7f7f7; }
    #about .container .row .circulo {
      border-radius: 50%;
      border: 7px solid #f7f7f7;
      background-color: #fed136;
      color: #fff;
      height: 160px;
      width: 160px; }
      #about .container .row .circulo h4 {
        padding: 40px 0; }
    #about .container .row .circulo:hover {
      color: #777; }

#team {
  background-color: #F7F7F7; }
  #team .container {
    padding: 10% 0; }
    #team .container h2 {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-family: Montserrat, "Helvetica Neue";
      font-weight: 700; }
    #team .container .italica {
      font-size: 16px;
      color: #777;
      font-family: "Droid Serif", "Helvetica Neue";
      font-weight: 400;
      margin-bottom: 75px;
      text-transform: none;
      font-style: italic;
      font-weight: 400; }
    #team .container .italica1 {
      font-size: 16px;
      color: #777;
      font-family: "Droid Serif", "Helvetica Neue";
      font-weight: 400;
      margin-bottom: 75px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 0px; }
    #team .container .row .col-md-4 img {
      margin: auto;
      border: 8px solid #fff; }
    #team .container .row .col-md-4 .fa-lg {
      margin: 0 5px; }
      #team .container .row .col-md-4 .fa-lg .fa-stack-1x {
        color: #fff; }
      #team .container .row .col-md-4 .fa-lg .fa-stack-1x:hover {
        color: #fed136; }
    #team .container .row .col-md-12 {
      padding: 3% 18%; }
      #team .container .row .col-md-12 p {
        font-size: 16px;
        line-height: 170%; }

#logos {
  padding: 4% 0; }

#contact {
  background-color: #222;
  background-image: url(../../img/map-image.png);
  background-position: center;
  background-repeat: no-repeat; }
  #contact .container {
    padding: 10% 0; }
    #contact .container h2 {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-family: Montserrat, "Helvetica Neue";
      font-weight: 700;
      color: #fff; }
    #contact .container .italica {
      font-size: 16px;
      color: #777;
      font-family: "Droid Serif", "Helvetica Neue";
      font-weight: 400;
      margin-bottom: 75px;
      text-transform: none;
      font-style: italic;
      font-weight: 400; }
    #contact .container .form-group {
      margin-bottom: 20px; }
      #contact .container .form-group .form-control {
        padding: 30px 20px;
        font-family: Montserrat, "Helvetica Neue";
        font-weight: 700; }
      #contact .container .form-group textarea {
        height: 226px; }

footer {
  padding: 20px 0; }
  footer .col-md-4 span {
    font-family: Montserrat, "Helvetica Neue";
    display: inline-block; }
    footer .col-md-4 span .fa-stack-1x {
      color: #fff; }
    footer .col-md-4 span .fa-stack-1x:hover {
      color: #fed136; }
    footer .col-md-4 span p {
      padding: 10px 10px 0 10px; }
    footer .col-md-4 span .nara {
      color: #fed136;
      float: left; }

/*# sourceMappingURL=main.css.map */
