@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    transition: padding 0.3s;
    border: none; }
    .navbar-default .navbar-shrink {
      background-color: #222222; } }
.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-default .navbar-header a {
    color: #fed136;
    font-family: "kaushan Script", "Helvetica Neue", Helvetica, cursive;
    font-size: 26px; }
  .navbar-default .navbar-collapse ul li a {
    color: #fff;
    font-weight: 700; }
  .navbar-default .navbar-collapse ul li a:hover {
    color: #fed136; }

header {
  background-image: url(../../img/header-bg.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: 0 -60px;
  width: 100%; }
  header .welcome {
    padding: 25% 10% 19% 10%;
    color: #fff; }
    header .welcome .welcome1 {
      font-size: 40px; }
    header .welcome .grande {
      font-size: 75px; }

.boton {
  background-color: #fed136;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px; }

#services .container {
  padding: 10% 0; }
  #services .container h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700; }
  #services .container .italica {
    font-size: 16px;
    color: #777;
    font-family: "Droid Serif" "Helvetica Neue";
    text-transform: none;
    font-style: italic;
    font-weight: 400; }
  #services .container .col-md-4 .fa-circle {
    color: #fed136; }
  #services .container .col-md-4 .fa-stack-1x {
    color: #fff; }
  #services .container .col-md-4 p {
    color: #777; }

#portfolio {
  background-color: #F7F7F7; }
  #portfolio .container {
    padding: 10% 0; }
    #portfolio .container h2 {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-family: "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700; }
    #portfolio .container .italica {
      font-size: 16px;
      color: #777;
      font-family: "Droid Serif" "Helvetica Neue";
      text-transform: none;
      font-style: italic;
      font-weight: 400; }
    #portfolio .container .row .col-md-4 {
      padding: 15px; }
      #portfolio .container .row .col-md-4 img {
        width: 100%; }
      #portfolio .container .row .col-md-4 .caja {
        background-color: #fff;
        margin-top: 0;
        padding: 10px 0; }

#about .container {
  padding: 10% 0; }
  #about .container h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700; }
  #about .container .italica {
    font-size: 16px;
    color: #777;
    font-family: "Droid Serif" "Helvetica Neue";
    text-transform: none;
    font-style: italic;
    font-weight: 400; }
  #about .container ul {
    list-style: none;
    padding: 0;
    position: relative; }
    #about .container ul li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
    #about .container ul li .timeline-panel {
      padding: 0 20px 20px 100px;
      width: 41%;
      float: left;
      text-align: right; }
      #about .container ul li .timeline-panel .timeline-heading h4 {
        margin-top: 0;
        color: inherit; }
    #about .container ul .time-inverted {
      min-height: 170px; }
      #about .container ul .time-inverted .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px; }
      #about .container ul .time-inverted .timeline-panel {
        padding: 0 100px 20px 20px; }

/*# sourceMappingURL=main.css.map */
