$naranja: #fed136;
$blanco: #fff;
$plomo: #777;
$gris: #f7f7f7;
$montserrat: Montserrat,"Helvetica Neue";
$droid: "Droid Serif", "Helvetica Neue";


@mixin espacio(){
	padding: 10% 0;
} 

@mixin h-2(){
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
	font-family: $montserrat;
	font-weight: 700;
}

@mixin italica(){
	font-size: 16px;
	color: $plomo;
	font-family: $droid;
	font-weight:400;
	margin-bottom:75px;
	text-transform: none;
	font-style: italic;
	font-weight: 400;
	}

@mixin caja(){
	background-color: $blanco;
	margin-top: 0;
	padding: 10px 0;
}

h4{
	font-family:$montserrat;
	font-weight:700;
}

body{
	overflow-x:hidden;
	font-family:"Roboto Slab";
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
	padding: 10px 0;
	.navbar-toggle{
		background-color: $naranja;
		border-color: $naranja; 
		.icon-bar{
			background-color: $blanco;
		}
	}
	.navbar-header{
		a{
			color: $naranja;
			font-family: "kaushan Script", Helvetica, cursive;
			font-weight: 400;
			font-size: 28px;
		}
	}
	.navbar-collapse{
		ul{
			li{
				a{
					color: $blanco;
					font-weight: 400;
					font-family: $montserrat;
					letter-spacing: 1px;
				}
				a:hover{
					color: $naranja;
				}
			}
		}
	}
}

.navbar-shrink{
	background-color: #222;
	padding:10px 0;
}

header{
	background-image: url(../../img/header-bg.jpg);
	background-repeat: none;
	background-size: cover;
	background-attachment:scroll;
	background-position: center;
	width: 100%;
	.welcome{
		padding: 25% 10% 19% 10%;
		color: $blanco;
		.welcome1{
			font-size: 40px;
			font-family: $droid;
			font-style: italic;
		}
		.grande{
			font-size: 75px;
			font-family: $montserrat;
			font-weight: 700;
		}
	}
}

.boton{
	background-color: $naranja;
	color:$blanco;
	font-family:$montserrat;
	font-weight:700;
	padding: 20px 40px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
}
.boton:hover{
	color: $plomo;
}

#services{
	.container{
		@include espacio;
		h2{
			@include h-2;
		}
		.italica{
			@include italica;
		}
		.col-md-4{
			.fa-circle{
				color: $naranja;
			}
			.fa-stack-1x{
				color:$blanco;
			}
			.fa-stack-1x:hover{
				color: $plomo;
			}
			p{
				color: $plomo;
			}
		}
	}
}

#portfolio{
	background-color: #F7F7F7;
	.container{
		@include espacio;
		h2{
			@include h-2;
		}
		.italica{
			@include italica;
		}
		.italica1{
			@include italica;
			margin-bottom: 0px;

		}
		.row{
			.col-md-4{
				padding: 15px;
				img{
					width: 100%;
				}
				.caja{
					@include caja;
				}
			}
		}
	}
}

#about{
	.container{
		@include espacio;
		h2{
			@include h-2;
		}
		.italica{
			@include italica;
		}
		.linea{
			height: 1100px;
			width: 1px;
			border: 1px solid $gris;
			position:absolute;
			left: 50%;
		}
		.row{
			margin:80px 0 0 0;
			img{
				border: 7px solid $gris;
			}
			.circulo{
				border-radius: 50%;
				border: 7px solid $gris;
				background-color: $naranja;
				color: $blanco;
				height: 160px;
				width: 160px;
				h4{
					padding:40px 0;
				}
			}
			.circulo:hover{
				color: $plomo;
			}
		}
	}
}

#team{
	background-color: #F7F7F7;
	.container{
		@include espacio;
		h2{
			@include h-2;
		}
		.italica{
			@include italica;
		}
		.italica1{
			@include italica;
			margin-bottom: 0px;
		}
		.row{
			.col-md-4{
				img{
					margin:auto;
					border: 8px solid $blanco;
				}
				.fa-lg{
					margin: 0 5px;
					.fa-stack-1x{
						color:$blanco;
					}
					.fa-stack-1x:hover{
						color: $naranja;
					}
				}
			}
		}
		.row{
			.col-md-12{
				padding:3% 18%;
				p{
					font-size: 16px;
					line-height: 170%;
				}
			}
		}
	}
}

#logos{
	padding: 4% 0;
}

#contact{
	background-color:#222;
	background-image:url(../../img/map-image.png);
	background-position:center;
	background-repeat:no-repeat;
	.container{
		@include espacio;
		h2{
			@include h-2;
			color: $blanco;
		}
		.italica{
			@include italica;
		}
		.form-group{
			margin-bottom: 20px;
			.form-control{
				padding:30px 20px;
				font-family: $montserrat;
				font-weight: 700;
			}
			textarea{
				height: 226px;
			}
		}
	}
}

footer{
	padding:20px 0;
	.col-md-4{
		span{
			font-family: $montserrat;
			display: inline-block;
			.fa-stack-1x{
				color: $blanco;
			}
			.fa-stack-1x:hover{
				color: $naranja;
			}
			p{
				padding:10px 10px 0 10px ;
			}
			.nara{
				color: $naranja;
				float: left;
			}
		}
	}
}